<!DOCTYPE html> 

<html>
<head><title>Gelus</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
     <link rel="shortcut icon" href='http://fxpaper.fatalsystem.com/images/wallpapers/3d/fractal/fractal_152.jpg'/>
     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>

     <!--Bootstrap Stylesheets-->
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery.css')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery.min.css')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery-indicator.css')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery.js')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery-fullscreen.js')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-gallery-indicator.js')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/blueimp-helper.js')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/jquery.blueimp-gallery.js')}}"/>
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='bootstrap/css/jquery.blueimp-gallery.min.js')}}"/>
     
     <!--general css-->
     <link href="{{ url_for('static', filename="css/main.css") }}" rel="stylesheet">

     <!--NVD3 css-->
     <link rel='stylesheet' typ='text/css' href="{{url_for('static', filename ='/nvd3-master/nv.d3.css')}}"/>

     <!--D3.js-->
     <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

      <!--Ajax and Jquery-->
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
     
     <!--Mapbox-->
     <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
     <script src="/mapbox.js/assets/csv2geojson.js"></script>
     <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
     <!--[if lte IE 8]>
      <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
      <![endif]-->

</head> 
<body style = "background-color:#E8E8E8">

<!--Navbar-->
<nav class="navbar navbar-inverse" role="navigation"
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://github.com/Fraktal/Gelus">Fraktal</a>
  </div>
</nav>   

<a href="{{ url_for('testdb') }}">Click here to check the db.</a>

<!--Mapbox call-->
<div style="width:1200px; height: 620; margin:0 auto;"> 
  <iframe width='1200' height='600' frameBorder='0' src='http://a.tiles.mapbox.com/v3/fraktal.map-6agz8efi/attribution,zoompan,zoomwheel,geocoder,share.html'></iframe>
</div>  


<div style="text-align:center">
<h2 style="margin-top: 40px">Tracking "Happiness" and "Sadness" via Tweets</h2>
</div>

<!--Main Chart-->
<div id="chart1" class='with-3d-shadow with-transitions'>
  <svg></svg>
</div>

<div id="line" class='with-3d-shadow with-transitions'>
   <svg style="height: 500px;"></svg>
</div>


<!--Pie Chart
<svg id="test1"></svg>-->

<!--Pie Donut Chart
<svg id="test2"></svg>-->

<!--scripts for chart rendering-->
<script src="{{url_for('static', filename='nvd3-master/lib/d3.v3.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/nv.d3.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/tooltip.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/utils.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/legend.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/axis.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/multiBar.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/multiBarChart.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/stream_layers.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/pie.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/legend.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/scatter.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/lib/fisheye.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/distribution.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/scatterChart.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/interactiveLayer.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/line.js')}}"></script>
<script src="{{url_for('static', filename='nvd3-master/src/models/lineChart.js')}}"></script>

<!--Charts-->
<script src="{{ url_for('static', filename='js/bar.js')}}"></script>
<script src="{{ url_for('static', filename='js/pie.js')}}"></script>
<script src="{{ url_for('static', filename='js/line.js')}}"></script>

<footer>
<div style="text-align:center">
    © Fraktal • UNCA 2014
</div>
</footer>

</body>
</html>